<div>
    <img src="~/images/notfound.jpg" alt="Page not found" width="70%" />
    <a class="btn btn-outline-primary align-items-center" asp-controller="Villa" asp-action="Index"> Back to Villa Home Page</a>
</div>